.performa_tabs_container{
    ul{
        margin-bottom:0px
    }
   
    li{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap
    }
    .labreport_options{
        display: flex;
    }
}


.performa-lab-report-form-container{
    margin-bottom: 50px;
    .heading{
        display: flex;
        align-items: center;
        border: 1px  solid darkgray;
        padding: 10px;
        h3{
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 0px;
        }
        
    }
    .values-container{
        border: 1px  solid darkgray;
        padding: 10px;
        
        // margin-top: 30px;
    }
}